@media (max-width:1020px) {
    .lista-de-personagens{
        width: 320px;
        height: 410px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: -10px;
    }
    .selecao-de-personagens{
        justify-content: space-between;
    }
    .selecao-de-personagens .personagem-grande{
        width: 270px;
    }
    .personagem-grande img{
        height: 450px;
        max-width: 100%;
    }
    .personagem{
        width: 90px;
        height: 90px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
}
@media (max-width:770px) {
    .lista-de-personagens{
        width: 280px;
        height: 300px;
        gap: 5px;
    }
    .selecao-de-personagens .personagem-grande{
        width: 220px;
    }
    .personagem-grande img{
        height:380px;
    }
    .personagem{
        width: 70px;
        height: 70px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
    main{
        justify-content: start;
        padding-top: 100px;
    } 
}
@media (max-width:430px) {
    main{
        padding-top: 50px;
    } 
    .personagem.selecionado{
        border: 2px solid rgb(157, 64, 76);
        border-radius: 7px;
    }
    span{
        font-size: 10px;
    }
    h1{
        font-size: 20px;
        letter-spacing: 0;
        text-shadow: 5px 4px 4px rgb(157, 64, 76);
    }
    h2{
        font-size: 18px;
        top: -10px;
        letter-spacing: 0;
    }
    .selecao-de-personagens {
        justify-content: space-around;
    }
    .selecao-de-personagens .personagem-grande{
        width: 35%;
    }
    .personagem-grande img{
        height: 230px;
    }
    .selecao-de-personagens .personagem-grande .nome{
        height: 15px;
        margin-top: 0;
    }
    .lista-de-personagens{
        height: 100px;
        gap: 10px;
        bottom: 20%;
    }

    .personagem{
        width: 50px;
        height: 50px;
    }
    body{
        background-size: cover;
    }
}